<h1>{{this.cityName}}</h1>
<h3>Daily Forecast</h3>
<ul class='moments'>
  <li class='moment' ng-repeat='day in this.daily'>
    <h1>
      {{day.time * 1000 | date:'MMM d, EEE'}}
    </h1>
    <h2>
      High: {{day.apparentTemperatureMax}}</br>
      Low: {{day.apparentTemperatureMin}}
    </h2>
    </h3>
      humidity: {{day.humidity}} </br>
      visibility: {{day.visibility}}
    </h3>
    <h3>
      {{day.summary}}
    </h3>
  </li>
</ul>
<h4>Hourly Forecast</h4>
<div class="hourly-weather">
  <ul class="moments">
    <li class="moment" ng-repeat="hour in this.hourly">
      <h1>{{ hour.time * 1000 | date:'ha' }}</h1>
      <h2>{{ hour.temperature | number:0 }}&deg;F</h2>
      <h2>{{ hour.summary }}</h2>
      <ul class="moment-details">
        <li>Humiditiy: {{ hour.humidity }}</li>
        <li>Visibility: {{ hour.visibility }}</li>
      </ul>
    </li>
  </ul>
</div>
<h3>News</h3>
<div class="news">
  <ul>
    <li ng-repeat="article in this.news">
      <a href="{{ article.href }}">{{ article.title }}</a>
    </li>
  </ul>
</div>
